body{
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5{
font-family: 'Ubuntu', sans-serif;
}

#main-contenido h2{
  padding: 100px 140px 100px 180px;
}

#main-contenido p{
  padding: 100px 0 100px 100px;
}

#main-cuadros p{
  padding: 0 100px;
}

#main-barra {
  background-color: #085394;
  padding: 0 4% 0 4%;
}

#main-titulo{
  background-image: url('https://www.linkpicture.com/q/bannerv2.png');
  height: 360px;
  padding:1rem;
}


#user-login-barra {
  background-color: #085394;
  padding: 0 4% 0 4%;
}

#main-footer {
  background-color: #6FA8DC;
}

#user-footer {
  background-color: #6FA8DC;
}

#admin-barra{
  background-color: #E69138;
  padding: 0 4% 0 4%;
}

#admin-footer {
  background-color: #E69138;
}

.carta {
  text-align: left;
  width: 320px;
  height: 260px;
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 2rem;
}

.ayudar{
  margin-top: 0.5rem;
}

#main-reportar{
  padding: 5%;
}

.texto-contenido{
  margin: 0 9% 0 0;
}

.titulo-contenido{
  margin: 0 0 0 9%;
}

#main-footer{
  text-align: center;
  padding: 2%;
}

.fot{
  margin: 0 1%;
}

#main-cuadros{
  color: white;
background-color: #085394;
text-align: center;
padding: 5% 15%;
}

.repre {
  transition: transform 0.5s;
  margin-bottom: 30px;
}



.nav-item {
  padding: 0 1rem 0 1rem;
}
